root = true
# All files
[*.*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
max_line_length = 152

# Interfaces should start with I and PascalCase
# naming style
dotnet_naming_style.prefix_and_pascal_case.required_prefix = O
dotnet_naming_style.prefix_and_pascal_case.capitalization = pascal_case

# naming symbols
dotnet_naming_symbols.interfaces.applicable_kinds = interface

dotnet_naming_rule.interfaces_begin_with_I.severity = error
dotnet_naming_rule.interfaces_begin_with_I.symbols = interfaces
dotnet_naming_rule.interfaces_begin_with_I.style = prefix_and_pascal_case

dotnet_diagnostic.interfaces_begin_with_I.enabled = true
